.todo_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    .active {
        background-color: white;
    }
    .todo_item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
        span {
            margin-left: 10px;
            flex: 1;
        }
        i {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            background-color: rgba(255,255,255, 0.5)
        }
        &:hover .todo_item_close {
            opacity: 0.3;
            &:hover {
                opacity: 1;
            }
        }
        &_close {
            position: absolute;
            right: 10px;
            opacity: 0;
        }
    }
}