@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    box-sizing: border-box;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #4bd178;
    background: #4bd178;
    color: white;
    cursor: pointer;
    &:hover {
        background: white;
        color: #4bd178;
        border: 2px solid #4bd178; 
    }
    &--grey {
        background: #e5e3e3;
        border: #e5e3e3;
        color: #8f8c8c;
        &:hover {
            background: white;
            color: #b3b3b3;
            border: 2px solid #b3b3b3; 
        }
    }
    &:disabled {
        opacity: 0.3;
    }
}

.todo {
    display: flex;
    max-width: 1200px;
    margin: 50px 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    .main {
        flex: 1;
        width: 100%;
        padding: 60px;
        background-color: #90eef5;
        overflow: auto;
        &__list {
            display: flex;
            flex-direction: column;
        }
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #dff3f5;
        width: 300px;
        min-height: 500px;
        padding: 20px;
    }
}
